@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 101 78% 41%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --header-height: 70px;
    --sitemaxw: 2560px;
    --link: #4CBB17;
    --link-hover: #EBFCE4;
    --link-hover-text: #0F2404;
    --sidebar-width: 18.75rem;
    --content-inline-start: 18.75rem;
    --content-width: 45rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 101 78% 41%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

  }
}

@layer base {

  /* custom bangla font */
  @font-face {
    font-family: 'LiAdor';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(../assets/fonts/LiAdorNoirritExtraLight.woff2) format('woff2');
  }

  @font-face {
    font-family: 'LiAdor';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(../assets/fonts/LiAdorNoirritLight.woff2) format('woff2');
  }

  @font-face {
    font-family: 'LiAdor';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../assets/fonts/LiAdorNoirritRegular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'LiAdor';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(../assets/fonts/LiAdorNoirritSemiBold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'LiAdor';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/../assetsfonts/LiAdorNoirritBold.woff2) format('woff2');
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .site-title {
    @apply text-[#FB7185] font-extrabold text-2xl
  }

  .mxw {
    @apply max-w-[var(--sitemaxw)];
  }

  .sidebar {
    @apply w-[var(--sidebar-width)] h-min mt-[var(--header-height)]
  }

  .sidbar__container ul li {
    @apply ps-2
  }

  .herobg {
    @apply relative bg-cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)),
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    background-repeat: repeat;
    background-size: contain, 32px 32px;
  }

  .dark .herobg {
    background-image: linear-gradient(to bottom, rgba(7, 18, 2, 0.8), rgba(7, 18, 2, 0.2)),
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    background-repeat: repeat;
    background-size: contain, 32px 32px;
  }


}



/* .sidbar__container ul li {
  padding-inline: .5rem;
  border-inline-start: 1px;
  margin-inline-start: .5rem;
} */

body {
  scroll-behavior: smooth;
  font-family: "Noto Sans Bengali", sans-serif;
}

.sidbar__container .scrollbar {
  scrollbar-width: thin;
}

.sidbar__container ul li a {
  display: block;
  border-radius: .25rem;
  text-decoration: none;
  color: var(--accent);
  padding: .3rem .5rem;
  line-height: 1.4;
}

.sidbar__container ul li a:hover {
  background-color: var(--link-hover);
  color: var(--link-hover-text);
}

.sidbar__container ul li summary:hover {
  cursor: pointer;
}

.sidbar__container .section__title:hover {
  background-color: unset;
}

.main__section {
  padding-inline-start: var(--content-inline-start);
}

.content__sec {
  margin-inline-start: auto 0;
  padding-top: var(--header-height);
  min-height: 100vh;
  width: calc(var(--content-width) + var(--sidebar-width)/2);
}


.right__secetion {
  width: calc(var(--content-width) + var(--sidebar-width) / 2);
  background: #f6f7f9;
  display: block;
}

@media only screen and (min-width:1141px) {


  .content__title {
    margin-top: 0;
  }
}

.aside {
  position: relative;
  order: 1;
  width: calc(var(--content-width) - (var(--sidebar-width)));
}

.aside__content {
  position: fixed;
  top: 0;
  padding-top: var(--header-height);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

/* 

.animate-spotlight {
  animation: spotlight-animation 3s infinite alternate;
} */
.content__main {
  padding: 1rem 2rem;
}

@media only screen and (min-width: 72rem) {
  .content__main {
    max-width: var(--content-width);
    margin: 0;
    margin-inline: auto 0;
  }
}

/* responsive */

@media only screen and (max-width:1140px) {
  .layout--right {
    display: none;
  }

  .content__title {
    margin-top: 48px;
  }
}

@media only screen and (min-width:1140px) {
  .right__secetion {
    display: none;
  }

}

@media only screen and (max-width:800px) {
  .sidbar__container {
    display: none;
  }


  .main__section {
    padding-inline-start: 0;

  }
}