---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { menuItems } from "@/utils/menuitems";
const { html: htmlCourse } = menuItems;
---

<Layout title="ডেভবাংলা">
  <main class="mxw">
    <!-- left panel -->
    <!-- <div
      class="hidden bg-red-300 lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto"
    >
      <h2>left</h2>
    </div> -->
    <!-- right panel -->

    <!-- left panel -->
    <div class="sidbar__container">
      <div
        class="hidden sm:block fixed inset-0 sidebar h-screen border-e-[1px] px-4 overflow-y-auto scrollbar auto scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 scrollbar-track:!rounded dark:scrollbar-track:!bg-slate-500/[0.16] dark:scrollbar-thumb:!bg-slate-500/50 lg:supports-scrollbars:pr-2"
      >
        <h2 class="text-xl font-bold py-3 ps-3">এইচটিএমএল (HTML)</h2>
        <ul class="p-1 outer-list">
          {
            htmlCourse.map((section) => (
              <li class=" mb-3">
                <details open>
                  <summary class="flex items-center justify-between ps-0.5 pe-0.5">
                    <div class="group-label">
                      <span class=" font-semibold text-sm line-clamp-1	">
                        {section.title}
                      </span>
                    </div>
                    <svg
                      aria-hidden="true"
                      class="caret astro-3zixussu"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                    >
                      <path d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z" />
                    </svg>
                  </summary>
                  <ul class="">
                    {section.data.map((item) => (
                      <li class="border-s">
                        <a href={item.slug} class=" text-sm">
                          <span class="">{item.text}</span>
                        </a>
                      </li>
                    ))}
                  </ul>
                </details>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- right panel -->
    </div>
  </main>
</Layout>
