---
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import { Card, CardContent, CardTitle } from '@/components/ui/card'
import { Input } from '@/components/ui/input'
import AccordionComp from '@/components/custom/accordion-comp'
import heroImg from '@/assets/img/hero-coding.svg'
import fire from '@/assets/img/fire.gif'
import { ResizableSection } from '@/components/custom/resizable-section'
---

<Layout title="Landing Page">
	<main class="mxw mx-auto h-auto sm:h-screen">
		<!-- hero section -->
		<div class="herobg overflow-hidden border-b dark:border-b">
			<svg
				class="animate-spotlight pointer-events-none absolute -top-20 left-0 z-[1] h-[150%] w-[120%] opacity-[.2] md:-top-10 md:left-40 lg:w-[80%]"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 3787 2842"
				fill="none"
			>
				<g filter="url(#newFilter)">
					<ellipse
						cx="1824.71"
						cy="373.501"
						rx="1824.71"
						ry="373.501"
						transform="matrix(-0.822377 -0.568943 -0.568943 0.822377 3531.88 2191.09)"
						fill="white"
						fill-opacity="0.25"></ellipse>
				</g>
				<defs>
					<filter
						id="newFilter"
						x="0"
						y="0"
						width="3787"
						height="2842"
						filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB"
					>
						<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
						<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"
						></feBlend>
						<feGaussianBlur stdDeviation="120" result="effect1_foregroundBlur"></feGaussianBlur>
					</filter>
				</defs>
			</svg>

			<section
				class="container mx-auto flex h-auto flex-col items-center justify-center px-6 pt-[72px] text-center sm:h-screen sm:flex-row sm:text-start"
			>
				<div class="mb-12 pe-0 pt-12 sm:mb-0 sm:flex-1 sm:pe-16 sm:pt-0 md:pe-32 lg:pe-24">
					<h1
						class="mb-4 text-2xl font-bold leading-tight tracking-tighter sm:text-3xl md:text-5xl"
					>
						পেইড কোর্স এর দিন শেষ। <br />সব স্কিল শিখুন <span class="relative text-primary">
							<img src={fire.src} class="absolute top-0 hidden" /> ফ্রিতে</span
						>
					</h1>
					<p
						class="mb-4 px-8 text-sm font-semibold leading-snug tracking-tight sm:pe-12 sm:ps-0 sm:text-lg lg:pe-24"
					>
						যেকোনো রকম স্কিল শিখুন মাতৃভাষায়, ফ্রী তে। আপনাদের ভালোবাসাই আমাদের পেমেন্ট
					</p>

					<Button className=" px-8 text-lg font-bold dark:text-white">সকল স্কিল দেখুন </Button>
				</div>
				<div class="hero__svg hidden items-center justify-center py-12 sm:flex sm:flex-1">
					<svg
						width="450"
						height="400"
						viewBox="0 0 400 326"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class=""
					>
						<path
							d="M216.593 313.018C216.418 313.017 216.245 312.975 216.087 312.895C215.93 312.816 215.791 312.701 215.681 312.559L124.222 194.383C124.026 194.129 123.935 193.804 123.969 193.481C124.003 193.157 124.16 192.861 124.404 192.657C124.648 192.453 124.96 192.359 125.272 192.395C125.583 192.43 125.868 192.593 126.064 192.847L217.514 311.023C217.656 311.206 217.744 311.428 217.768 311.661C217.792 311.895 217.751 312.13 217.65 312.34C217.549 312.551 217.392 312.726 217.198 312.846C217.004 312.966 216.78 313.026 216.554 313.018H216.593Z"
							fill="#E03C03"></path>
						<path
							d="M74.734 313.018C74.4656 313.017 74.2055 312.922 73.9951 312.749C73.752 312.544 73.5973 312.247 73.5649 311.923C73.5325 311.6 73.6251 311.276 73.8223 311.023L165.272 192.847C165.365 192.708 165.484 192.591 165.622 192.502C165.759 192.413 165.914 192.355 166.074 192.331C166.235 192.307 166.398 192.318 166.555 192.362C166.711 192.407 166.857 192.485 166.983 192.59C167.11 192.696 167.214 192.828 167.289 192.977C167.364 193.127 167.408 193.291 167.42 193.459C167.431 193.627 167.409 193.796 167.355 193.955C167.301 194.114 167.216 194.259 167.105 194.383L75.6552 312.559C75.5445 312.702 75.4042 312.818 75.2448 312.898C75.0853 312.977 74.9108 313.018 74.734 313.018Z"
							fill="#FF6224"></path>
						<path
							d="M166.184 313.018C166.009 313.017 165.836 312.975 165.679 312.895C165.521 312.816 165.382 312.701 165.273 312.559L73.8226 194.383C73.7118 194.259 73.6267 194.114 73.5726 193.955C73.5184 193.796 73.4964 193.627 73.5078 193.459C73.5192 193.291 73.5639 193.127 73.639 192.977C73.7141 192.828 73.8181 192.696 73.9443 192.59C74.0706 192.485 74.2165 192.407 74.373 192.362C74.5294 192.318 74.693 192.307 74.8536 192.331C75.0142 192.355 75.1682 192.413 75.3062 192.502C75.4441 192.591 75.563 192.708 75.6554 192.847L167.105 311.023C167.202 311.149 167.275 311.293 167.318 311.448C167.362 311.603 167.375 311.765 167.358 311.925C167.341 312.086 167.294 312.241 167.22 312.382C167.145 312.523 167.044 312.648 166.923 312.749C166.714 312.925 166.453 313.02 166.184 313.018Z"
							fill="#FF6224"></path>
						<path
							d="M90.9427 196.746H48.4516C47.6533 196.744 46.8883 196.413 46.3238 195.826C45.7593 195.239 45.441 194.444 45.4385 193.615C45.4385 192.783 45.7556 191.986 46.3204 191.397C46.8852 190.808 47.6516 190.476 48.4516 190.473H90.9427C91.3392 190.473 91.7318 190.554 92.098 190.712C92.4642 190.87 92.7968 191.102 93.0768 191.394C93.3567 191.686 93.5784 192.032 93.7293 192.413C93.8801 192.794 93.9572 193.203 93.9559 193.615C93.9559 194.445 93.6384 195.242 93.0734 195.829C92.5083 196.416 91.7419 196.746 90.9427 196.746Z"
							fill="#E03C03"></path>
						<path
							d="M213.186 196.746H91.7485C90.9551 196.744 90.1944 196.417 89.6307 195.837C89.067 195.257 88.7454 194.469 88.7354 193.645C88.7353 192.813 89.0525 192.016 89.6173 191.427C90.1821 190.838 90.9485 190.506 91.7485 190.503H213.186V196.746Z"
							fill="#FF6224"></path>
						<path
							d="M123.76 252.698C123.762 253.377 123.57 254.041 123.209 254.607C122.847 255.172 122.332 255.614 121.729 255.875C121.126 256.136 120.462 256.205 119.821 256.074C119.18 255.943 118.591 255.617 118.128 255.138C117.666 254.658 117.35 254.047 117.222 253.381C117.094 252.715 117.159 252.025 117.409 251.397C117.658 250.77 118.081 250.233 118.624 249.856C119.167 249.479 119.806 249.277 120.459 249.277C121.333 249.277 122.171 249.637 122.79 250.278C123.409 250.92 123.758 251.79 123.76 252.698Z"
							fill="#E03C03"></path>
						<path
							d="M174.168 252.698C174.17 253.377 173.978 254.041 173.617 254.607C173.255 255.172 172.74 255.614 172.137 255.875C171.534 256.136 170.87 256.205 170.229 256.074C169.588 255.943 168.999 255.617 168.537 255.138C168.074 254.658 167.759 254.047 167.631 253.381C167.502 252.715 167.567 252.025 167.817 251.397C168.066 250.77 168.489 250.233 169.032 249.856C169.576 249.479 170.214 249.277 170.867 249.277C171.741 249.277 172.579 249.637 173.198 250.278C173.817 250.92 174.166 251.79 174.168 252.698Z"
							fill="#FFC947"></path>
						<g class="anime hover" style="--i:1">
							<path
								d="M52.1719 25H9.37372C7.25913 25 5.54492 26.7817 5.54492 28.9795V62.0617C5.54492 64.2595 7.25913 66.0411 9.37372 66.0411H52.1719C54.2865 66.0411 56.0007 64.2595 56.0007 62.0617V28.9795C56.0007 26.7817 54.2865 25 52.1719 25Z"
								fill="#7702FF"></path>
							<path
								d="M21.5449 36L23.1229 53.824L30.5449 56L38.0119 53.825L39.5449 36H21.5449ZM35.5939 42.048H27.6199L27.7919 44.064H35.4889L34.8629 50.629L30.6169 52.01L26.3359 50.555L26.0479 47.623H28.0719L28.2319 49.034L30.6319 49.849L32.9779 49.086L33.2749 46.081H25.9609L25.3989 40.031H35.8109L35.5939 42.048Z"
								fill="white"></path>
						</g>

						<path
							d="M127.168 82.0208H233.377V137.793C233.377 138.61 233.064 139.394 232.508 139.972C231.952 140.55 231.198 140.875 230.411 140.875H130.133C129.347 140.875 128.593 140.55 128.036 139.972C127.48 139.394 127.168 138.61 127.168 137.793V82.0208Z"
							fill="#383873"></path>
						<path
							d="M228.28 79.4974C228.28 79.6513 228.236 79.8017 228.154 79.9296C228.072 80.0575 227.955 80.1573 227.818 80.2161C227.681 80.275 227.531 80.2904 227.386 80.2604C227.24 80.2304 227.107 80.1563 227.002 80.0475C226.898 79.9387 226.826 79.8001 226.798 79.6492C226.769 79.4983 226.784 79.3419 226.84 79.1997C226.897 79.0576 226.993 78.9361 227.116 78.8506C227.239 78.7651 227.384 78.7195 227.532 78.7195C227.73 78.7195 227.921 78.8014 228.061 78.9473C228.201 79.0932 228.28 79.2911 228.28 79.4974Z"
							fill="#FF6224"></path>
						<path
							d="M223.147 79.4974C223.147 79.6513 223.103 79.8017 223.021 79.9296C222.939 80.0575 222.822 80.1573 222.685 80.2161C222.549 80.275 222.398 80.2904 222.253 80.2604C222.108 80.2304 221.974 80.1563 221.87 80.0475C221.765 79.9387 221.694 79.8001 221.665 79.6492C221.636 79.4983 221.651 79.3419 221.707 79.1997C221.764 79.0576 221.86 78.9361 221.983 78.8506C222.106 78.7651 222.251 78.7195 222.399 78.7195C222.597 78.7195 222.788 78.8014 222.928 78.9473C223.069 79.0932 223.147 79.2911 223.147 79.4974Z"
							fill="#FF6224"></path>
						<path
							d="M218.013 79.4974C218.013 79.6513 217.969 79.8017 217.886 79.9296C217.804 80.0575 217.687 80.1573 217.551 80.2161C217.414 80.275 217.263 80.2904 217.118 80.2604C216.973 80.2304 216.84 80.1563 216.735 80.0475C216.63 79.9387 216.559 79.8001 216.53 79.6492C216.501 79.4983 216.516 79.3419 216.573 79.1997C216.629 79.0576 216.725 78.9361 216.848 78.8506C216.971 78.7651 217.116 78.7195 217.264 78.7195C217.463 78.7195 217.653 78.8014 217.793 78.9473C217.934 79.0932 218.013 79.2911 218.013 79.4974Z"
							fill="#FF6224"></path>
						<path
							d="M191.7 89.9695H132.675C132.403 89.9695 132.142 89.8571 131.949 89.657C131.757 89.4568 131.648 89.1854 131.648 88.9024C131.648 88.6193 131.757 88.3479 131.949 88.1478C132.142 87.9476 132.403 87.8352 132.675 87.8352H191.7C191.964 87.8531 192.211 87.9761 192.39 88.1787C192.569 88.3812 192.665 88.6476 192.66 88.9223C192.656 89.1902 192.555 89.4466 192.377 89.6406C192.199 89.8346 191.957 89.9521 191.7 89.9695Z"
							fill="#20C3C5"></path>
						<path
							d="M191.7 96.7615H132.675C132.403 96.7615 132.142 96.6491 131.949 96.449C131.757 96.2488 131.648 95.9774 131.648 95.6944C131.648 95.4113 131.757 95.1399 131.949 94.9398C132.142 94.7396 132.403 94.6272 132.675 94.6272H191.7C191.973 94.6272 192.234 94.7396 192.426 94.9398C192.619 95.1399 192.727 95.4113 192.727 95.6944C192.727 95.9774 192.619 96.2488 192.426 96.449C192.234 96.6491 191.973 96.7615 191.7 96.7615Z"
							fill="#20C3C5"></path>
						<path
							d="M163.517 103.554H132.675C132.403 103.554 132.142 103.441 131.949 103.241C131.757 103.041 131.648 102.769 131.648 102.486C131.648 102.203 131.757 101.932 131.949 101.732C132.142 101.532 132.403 101.419 132.675 101.419H163.517C163.789 101.419 164.05 101.532 164.243 101.732C164.435 101.932 164.544 102.203 164.544 102.486C164.544 102.769 164.435 103.041 164.243 103.241C164.05 103.441 163.789 103.554 163.517 103.554Z"
							fill="#20C3C5"></path>
						<path
							d="M191.7 117.127H132.675C132.403 117.127 132.142 117.015 131.949 116.815C131.757 116.615 131.648 116.343 131.648 116.06C131.648 115.777 131.757 115.506 131.949 115.305C132.142 115.105 132.403 114.993 132.675 114.993H191.7C191.973 114.993 192.234 115.105 192.426 115.305C192.619 115.506 192.727 115.777 192.727 116.06C192.727 116.343 192.619 116.615 192.426 116.815C192.234 117.015 191.973 117.127 191.7 117.127Z"
							fill="#FF6224"></path>
						<path
							d="M163.517 123.919H132.675C132.403 123.919 132.142 123.807 131.949 123.607C131.757 123.407 131.648 123.135 131.648 122.852C131.648 122.569 131.757 122.298 131.949 122.098C132.142 121.898 132.403 121.785 132.675 121.785H163.517C163.786 121.785 164.044 121.895 164.236 122.091C164.428 122.286 164.539 122.553 164.544 122.832C164.546 122.974 164.521 123.115 164.471 123.247C164.421 123.379 164.345 123.499 164.25 123.6C164.154 123.701 164.04 123.782 163.914 123.836C163.788 123.891 163.653 123.92 163.517 123.919Z"
							fill="#FF6224"></path>
						<path
							d="M163.517 130.711H132.675C132.403 130.711 132.142 130.599 131.949 130.399C131.757 130.199 131.648 129.927 131.648 129.644C131.648 129.361 131.757 129.09 131.949 128.89C132.142 128.69 132.403 128.577 132.675 128.577H163.517C163.789 128.577 164.05 128.69 164.243 128.89C164.435 129.09 164.544 129.361 164.544 129.644C164.544 129.927 164.435 130.199 164.243 130.399C164.05 130.599 163.789 130.711 163.517 130.711Z"
							fill="#20C3C5"></path>
						<path
							d="M191.701 103.554H169.535C169.262 103.554 169.001 103.441 168.809 103.241C168.616 103.041 168.508 102.769 168.508 102.486C168.508 102.203 168.616 101.932 168.809 101.732C169.001 101.532 169.262 101.419 169.535 101.419H191.701C191.962 101.437 192.206 101.557 192.384 101.755C192.563 101.954 192.662 102.215 192.661 102.486C192.662 102.758 192.563 103.019 192.384 103.217C192.206 103.416 191.962 103.536 191.701 103.554Z"
							fill="white"></path>
						<path
							d="M220.921 88.3041L205.25 104.591C205.156 104.691 205.043 104.77 204.918 104.824C204.794 104.878 204.661 104.906 204.526 104.906C204.391 104.906 204.257 104.878 204.133 104.824C204.009 104.77 203.896 104.691 203.801 104.591C203.705 104.492 203.629 104.375 203.577 104.246C203.525 104.117 203.498 103.978 203.498 103.838C203.498 103.698 203.525 103.559 203.577 103.43C203.629 103.3 203.705 103.183 203.801 103.085L219.472 86.798C219.566 86.6982 219.679 86.619 219.803 86.5649C219.928 86.5108 220.061 86.4829 220.196 86.4829C220.331 86.4829 220.464 86.5108 220.589 86.5649C220.713 86.619 220.826 86.6982 220.921 86.798C221.017 86.8964 221.093 87.0136 221.145 87.1429C221.197 87.2722 221.224 87.4109 221.224 87.551C221.224 87.6912 221.197 87.8299 221.145 87.9592C221.093 88.0885 221.017 88.2057 220.921 88.3041Z"
							fill="#FF6224"></path>
						<path
							d="M221.367 121.341C222.545 116.18 219.474 111.003 214.508 109.779C209.542 108.556 204.562 111.747 203.384 116.909C202.207 122.07 205.278 127.246 210.244 128.47C215.21 129.694 220.19 126.502 221.367 121.341Z"
							fill="#FF6224"></path>
						<path
							d="M211.152 125.824C211.152 126.9 210.845 127.95 210.271 128.844C209.696 129.738 208.879 130.435 207.924 130.846C206.968 131.258 205.916 131.365 204.902 131.156C203.887 130.946 202.956 130.428 202.224 129.668C201.493 128.908 200.995 127.939 200.793 126.885C200.591 125.831 200.695 124.738 201.09 123.744C201.486 122.751 202.157 121.902 203.017 121.305C203.877 120.708 204.888 120.389 205.922 120.389C207.309 120.389 208.639 120.962 209.62 121.981C210.601 123 211.152 124.383 211.152 125.824Z"
							fill="#20C3C5"></path>
						<path d="M127.168 134.91V154.329L144.345 136.486" fill="#383873"></path>
						<path
							d="M108.887 159.585H146.57L160.187 186.833H122.513L108.887 159.585Z"
							fill="#86BFBC"></path>
						<path
							d="M123.282 184.818L111.997 162.258C111.951 162.151 111.931 162.035 111.939 161.919C111.947 161.802 111.983 161.69 112.042 161.591C112.102 161.492 112.185 161.41 112.282 161.353C112.38 161.295 112.489 161.263 112.602 161.261H145.228C145.353 161.259 145.475 161.294 145.582 161.361C145.689 161.428 145.776 161.524 145.833 161.64L157.117 184.21C157.161 184.316 157.179 184.432 157.17 184.548C157.161 184.663 157.125 184.774 157.066 184.872C157.006 184.97 156.925 185.052 156.829 185.11C156.733 185.169 156.624 185.202 156.513 185.207H123.886C123.761 185.207 123.637 185.171 123.531 185.102C123.424 185.034 123.338 184.935 123.282 184.818Z"
							fill="white"></path>
						<path d="M153.028 186.833H122.513V190.473H153.028V186.833Z" fill="#B8E3E2"></path>
						<path
							d="M179.226 186.833H149.133C148.903 186.833 148.675 186.88 148.463 186.972C148.25 187.063 148.057 187.198 147.895 187.368C147.733 187.537 147.604 187.739 147.517 187.96C147.43 188.181 147.385 188.418 147.387 188.658C147.385 188.896 147.43 189.133 147.517 189.354C147.604 189.575 147.733 189.775 147.895 189.944C148.058 190.113 148.251 190.247 148.463 190.337C148.676 190.428 148.904 190.474 149.133 190.473H179.226C179.456 190.474 179.684 190.428 179.896 190.337C180.109 190.247 180.302 190.113 180.464 189.944C180.627 189.775 180.755 189.575 180.842 189.354C180.93 189.133 180.974 188.896 180.973 188.658C180.974 188.418 180.93 188.181 180.843 187.96C180.755 187.739 180.627 187.537 180.465 187.368C180.302 187.198 180.109 187.063 179.897 186.972C179.684 186.88 179.456 186.833 179.226 186.833Z"
							fill="#9FCCC9"></path>
						<path
							d="M122.513 186.833L108.887 159.585L108.205 160.114C107.992 160.28 107.844 160.521 107.786 160.791C107.728 161.061 107.764 161.345 107.889 161.59L122.513 190.513V186.833Z"
							fill="#B8E3E2"></path>
						<path d="M136.047 188.081H132.688V188.69H136.047V188.081Z" fill="#9FCCC9"></path>
						<path d="M140.457 188.538H137.099V189.146H140.457V188.538Z" fill="#9FCCC9"></path>
						<path d="M144.681 188.538H141.322V189.146H144.681V188.538Z" fill="#9FCCC9"></path>
						<path
							d="M191.201 240.181C191.201 240.181 159.956 265.474 154.995 271.897C153.124 274.331 149.871 278.589 146.493 282.958C140.947 290.129 135.064 297.609 134.364 297.788C133.251 298.078 123.866 290.657 123.588 289.062C123.415 288.064 131.955 272.835 139.344 260.587C143.845 253.147 147.913 246.794 149.343 245.417C153.114 241.777 176.366 228.981 176.366 228.981L191.201 240.181Z"
							fill="#383873"></path>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M131.563 292.383C131.563 292.383 160.764 249.187 175.417 241.917"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"></path>
						</g>
						<path
							d="M223.781 129.275C223.445 130.063 223.071 130.871 222.648 131.709C220.355 136.247 222.044 140.795 219.443 141.952C219.273 142.026 219.096 142.083 218.915 142.121C215.557 142.899 207.813 138.252 207.467 135.918C207.122 133.584 209.857 129.615 207.467 129.126C205.078 128.637 203.792 132.816 203.792 132.816C201.873 133.035 201.134 129.615 197.91 129.615C197.46 129.614 197.011 129.674 196.576 129.794C195.207 130.201 193.944 130.924 192.882 131.908C192.538 132.216 192.218 132.549 191.922 132.906C191.058 132.278 190.356 131.437 189.879 130.46C189.402 129.482 189.164 128.397 189.187 127.301C189.417 121.416 191.509 117.128 196.547 116.25C197.104 109.707 202.305 106.207 209.214 105.987C215.279 105.798 216.19 111.463 216.334 112.879C216.252 110.47 215.641 108.113 214.549 105.987C217.591 105.848 220.307 108.102 219.568 115.452C220.269 113.268 222.725 111.882 224.606 113.457C222.859 113.457 221.18 116.509 221.18 116.509C222.588 117.525 223.764 118.849 224.625 120.389C225.767 122.483 225.287 125.565 223.781 129.275Z"
							fill="#382424"></path>
						<path
							d="M219.443 141.951L219.367 143.029L219.098 146.849C219.098 146.849 213.504 151.835 210.327 146.849L210.26 146.749C209.3 145.233 208.389 144.754 207.583 144.604C205.827 144.385 204.416 146.16 202.958 144.235C199.851 139.965 197.673 135.045 196.576 129.814C197.011 129.694 197.46 129.634 197.91 129.634C201.134 129.634 201.835 133.055 203.792 132.836C203.792 132.836 205.088 128.667 207.468 129.145C209.847 129.624 207.132 133.614 207.468 135.937C207.621 136.935 209.243 138.481 211.306 139.757C213.695 141.243 216.68 142.43 218.58 142.201L218.916 142.141C219.097 142.096 219.274 142.032 219.443 141.951Z"
							fill="#FFAD94"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M220.315 149.063C217.791 150.848 213.175 151.147 213.175 151.147L209.394 150.569C209.394 150.569 207.811 148.185 208.55 146.849C208.818 146.452 209.142 146.099 209.51 145.802C210.865 144.701 212.317 143.736 213.847 142.919C215.328 142.029 216.955 141.43 218.645 141.154C221.898 140.964 222.829 147.268 220.315 149.063Z"
								fill="black"></path>
						</g>
						<path
							d="M219.529 212.734C213.906 213.861 202.007 210.42 196.307 207.747C195.144 207.33 194.085 206.649 193.208 205.752C192.114 203.758 193.208 202.212 195.923 195.859C196.23 195.141 196.557 194.373 196.883 193.525C198.716 189.027 198.725 179.442 198.716 171.164C198.716 164.093 198.668 157.989 199.752 156.902C202.094 154.548 213.81 146.849 213.81 146.849L216.152 159.485C216.152 159.485 217.466 165.908 218.858 174.276C221.449 189.655 224.327 211.786 219.529 212.734Z"
							fill="#20C3C5"></path>
						<path
							d="M223.482 218.359C223.482 218.937 217.887 232.511 213.185 234.456C208.483 236.401 180.185 234.257 180.185 234.257L166.184 243.772L169.12 272.436L171.164 292.383L171.222 293.031C166.942 295.933 156.156 296.711 154.995 294.208C153.872 291.684 136.705 237.947 143.432 228.642C150.159 219.336 193.254 205.752 193.254 205.752C194.475 206.533 195.759 207.201 197.093 207.747C202.107 209.686 207.31 211.05 212.61 211.816C214.385 212.106 215.949 212.315 217.148 212.465C218.655 212.654 219.567 212.724 219.567 212.724C219.567 212.724 223.482 217.771 223.482 218.359Z"
							fill="#383873"></path>
						<path
							d="M172.998 311.751H136.601C136.536 311.392 136.558 311.022 136.665 310.673C136.773 310.325 136.961 310.01 137.215 309.757C138.693 307.912 142.387 306.056 145.957 304.451C149.344 302.935 152.597 301.628 153.634 300.731C156.205 298.616 155.016 294.507 154.948 294.248C155.342 295.096 156.868 295.564 158.787 295.704C162.625 295.993 168.383 294.996 171.175 293.071L171.118 292.423C172.192 294.577 172.711 305.229 172.883 309.757C172.979 310.973 172.998 311.751 172.998 311.751Z"
							fill="#0C2059"></path>
						<path
							d="M158.834 295.674C158.728 297.479 158.479 300.401 157.97 301.179C157.231 302.346 149.2 306.425 148.086 306.036C147.281 305.648 146.557 305.099 145.956 304.421C149.343 302.905 152.596 301.598 153.633 300.701C156.205 298.586 155.015 294.477 154.948 294.218C155.389 295.066 156.876 295.534 158.834 295.674Z"
							fill="#2E4780"></path>
						<path
							d="M172.998 311.751H136.601C136.536 311.392 136.558 311.021 136.665 310.673C136.773 310.325 136.961 310.01 137.215 309.756H172.931C172.979 310.973 172.998 311.751 172.998 311.751Z"
							fill="#2E4780"></path>
						<path
							d="M134.364 297.788C132.916 301.764 131.19 305.624 129.201 309.338C128.241 310.943 127.349 311.981 126.715 311.721C124.47 310.854 101.977 290.976 104.136 289.52C104.581 289.27 105.071 289.12 105.575 289.081C108.315 288.924 111.062 289.038 113.78 289.42C116.352 289.7 118.751 289.999 119.998 289.999C123.175 289.999 123.587 289.002 123.587 289.002C123.963 289.774 124.493 290.454 125.142 290.996C127.925 293.799 133.519 298.008 134.364 297.788Z"
							fill="#0C2059"></path>
						<path
							d="M125.142 291.056C123.573 292.154 121.745 292.785 119.856 292.881C117.967 292.978 116.089 292.537 114.423 291.605C114.144 291.336 113.937 290.995 113.824 290.617C113.711 290.239 113.696 289.837 113.78 289.45C116.352 289.73 118.751 290.029 119.999 290.029C123.175 290.029 123.587 289.032 123.587 289.032C123.96 289.815 124.49 290.505 125.142 291.056Z"
							fill="#2E4780"></path>
						<path
							d="M129.201 309.338C128.241 310.943 127.349 311.981 126.715 311.721C124.47 310.854 101.977 290.976 104.136 289.52C104.581 289.27 105.071 289.12 105.575 289.081L129.201 309.338Z"
							fill="#2E4780"></path>
						<path
							class="typing"
							d="M196.363 187.98C194.607 190.523 191.45 194.412 188.859 194.014L188.543 193.964C183.591 193.056 154.496 185.466 153.114 185.187C151.732 184.908 141.925 184.798 142.482 183.731C143.038 182.664 148.642 179.273 150.159 179.352C151.675 179.432 157.538 181.208 163.411 181.018C169.283 180.829 184.685 181.018 184.685 181.018L185.434 179.672L186.537 177.677C186.201 183.671 193.072 188.458 196.363 187.98Z"
							fill="#FFAD94"></path>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M196.364 210.061C196.364 210.061 195.02 217.481 200.25 219.955"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M193.62 216.025C193.62 216.025 159.075 231.355 157.395 236.102C155.716 240.849 166.185 292.383 166.185 292.383"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M223.483 218.359C223.483 218.937 217.889 232.511 213.187 234.456C208.485 236.401 180.186 234.257 180.186 234.257L166.186 243.772L169.122 272.436C169.122 272.436 163.201 239.712 163.201 237.528C163.201 235.703 202.305 224.024 212.611 211.796C216.641 212.465 219.568 212.704 219.568 212.704C219.568 212.704 223.483 217.771 223.483 218.359Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M205.048 183.671C202.621 187.252 198.715 191.79 195.961 195.899C196.268 195.181 196.594 194.413 196.921 193.565C198.753 189.067 198.763 179.482 198.753 171.204L207.14 165.449C207.14 165.449 208.973 177.867 205.048 183.671Z"
								fill="black"></path>
						</g>
						<path
							d="M197.899 186.872C197.535 187.222 197.17 187.561 196.796 187.87C196.656 187.919 196.511 187.953 196.364 187.97C193.073 188.448 186.202 183.611 186.509 177.687C186.699 176.814 187.023 175.979 187.469 175.213C190.28 169.319 198.734 156.204 200.289 156.812C200.289 156.812 205.73 157.68 207.208 165.399C208.541 172.7 203.551 181.427 197.899 186.872Z"
							fill="#169799"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M217.148 212.475C215.949 212.325 214.385 212.116 212.61 211.826C207.31 211.06 202.107 209.696 197.093 207.757C201.315 207.598 210.364 204.765 211.487 183.202C212.011 187.391 212.774 191.544 213.771 195.639C215.167 201.189 216.294 206.808 217.148 212.475Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M214.913 141.523C214.545 141.966 214.202 142.433 213.887 142.919C212.358 143.726 210.906 144.681 209.549 145.771C209.061 145.13 208.359 144.703 207.582 144.575L211.305 139.708C212.448 140.435 213.656 141.043 214.913 141.523Z"
								fill="black"></path>
						</g>
						<g class="anime2 hover" style="--i:2">
							<path
								d="M207.172 23H164.374C162.259 23 160.545 24.7816 160.545 26.9794V60.0617C160.545 62.2595 162.259 64.0411 164.374 64.0411H207.172C209.287 64.0411 211.001 62.2595 211.001 60.0617V26.9794C211.001 24.7816 209.287 23 207.172 23Z"
								fill="#7702FF"></path>
							<path
								d="M172 31V59H200V31H172ZM187.238 52.837C187.238 55.562 185.638 56.806 183.307 56.806C181.201 56.806 179.982 55.719 179.357 54.4L181.501 53.106C181.914 53.837 182.289 54.456 183.195 54.456C184.057 54.456 184.607 54.118 184.607 52.8V43.856H187.238V52.837ZM193.462 56.806C191.018 56.806 189.437 55.644 188.668 54.118L190.812 52.881C191.375 53.8 192.112 54.481 193.406 54.481C194.493 54.481 195.194 53.937 195.194 53.181C195.194 52.281 194.481 51.962 193.275 51.431L192.619 51.15C190.719 50.344 189.463 49.325 189.463 47.181C189.463 45.206 190.969 43.706 193.313 43.706C194.988 43.706 196.188 44.287 197.051 45.812L195.001 47.125C194.551 46.319 194.063 46 193.307 46C192.539 46 192.051 46.488 192.051 47.125C192.051 47.913 192.539 48.231 193.67 48.725L194.326 49.006C196.564 49.962 197.82 50.944 197.82 53.143C197.82 55.506 195.957 56.805 193.463 56.805L193.462 56.806Z"
								fill="#F0DB4F"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M196.364 187.98C194.608 190.523 191.451 194.412 188.86 194.014L188.543 193.964C185.338 189.146 185.223 182.833 185.405 179.672L186.509 177.677C186.202 183.671 193.072 188.458 196.364 187.98Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M223.779 129.275C223.443 130.063 223.069 130.871 222.647 131.709C221.759 133.681 221.26 135.817 221.179 137.992C220.809 137.699 220.424 137.426 220.027 137.174C218.106 138.325 216.379 139.794 214.913 141.523C211.496 140.246 207.715 137.533 207.476 135.908C207.14 133.584 209.865 129.604 207.476 129.116C205.086 128.627 203.8 132.806 203.8 132.806C201.881 133.025 201.142 129.604 197.918 129.604C197.468 129.604 197.019 129.664 196.584 129.784C195.215 130.191 193.953 130.914 192.89 131.898C192.89 131.898 196.527 126.592 202.217 127.669C202.217 127.669 201.382 126.014 197.553 126.213C205.576 123.491 210.709 124.568 213.185 127.57C215.191 130.033 219.922 133.075 223.779 129.275Z"
								fill="black"></path>
						</g>
						<path
							d="M240.094 243.771H212.093C212.093 243.771 234.308 236.979 234.308 191.201C234.308 190.612 234.308 190.034 234.308 189.455C234.087 158.857 227.792 141.981 220.038 137.174C223.127 135.337 226.476 134.018 229.961 133.265C232 132.806 234.063 132.473 236.14 132.267C255.332 130.272 270.628 138.052 272.452 146.888C274.275 155.725 263.048 243.771 240.094 243.771Z"
							fill="#B8E3E2"></path>
						<path
							d="M234.307 191.201C234.307 236.979 212.092 243.771 212.092 243.771H166.185L168.104 242.355L180.195 234.257L204.444 232.541C205.749 226.916 209.299 226.737 214.712 226.148C217.859 225.809 218.166 220.284 217.207 212.973C216.357 207.136 215.21 201.35 213.771 195.639C212.773 191.534 212.011 187.371 211.487 183.172C210.934 178.713 210.643 174.223 210.614 169.728C210.542 161.727 211.278 153.741 212.812 145.901C212.927 145.323 213.042 144.764 213.157 144.235C213.157 144.235 213.157 144.235 213.157 144.186C213.613 143.225 214.191 142.333 214.875 141.533C216.341 139.804 218.068 138.335 219.989 137.184C220.386 137.436 220.771 137.709 221.141 138.002C228.357 143.717 234.038 160.393 234.259 189.465C234.307 190.034 234.307 190.652 234.307 191.201Z"
							fill="#86BFBC"></path>
						<path
							d="M225.449 311.751H192.4C192.152 311.751 191.91 311.671 191.708 311.521C191.506 311.371 191.354 311.159 191.274 310.915C191.194 310.671 191.189 310.407 191.26 310.16C191.331 309.913 191.475 309.695 191.671 309.537L199.933 302.815C201.748 301.34 203.214 299.453 204.222 297.3C205.23 295.147 205.752 292.783 205.748 290.388V243.772H212.091V290.388C212.092 292.78 212.618 295.14 213.627 297.29C214.636 299.439 216.103 301.322 217.916 302.795L226.178 309.517C226.382 309.673 226.533 309.892 226.61 310.143C226.686 310.394 226.683 310.663 226.602 310.912C226.52 311.161 226.365 311.377 226.157 311.528C225.95 311.679 225.702 311.757 225.449 311.751Z"
							fill="#B8E3E2"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M250.658 133.983C250.658 133.983 250.898 134.631 251.292 135.918"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"></path>
							<path
								d="M252.405 139.887C254.079 146.621 255.329 153.46 256.148 160.363C259.151 184.449 256.1 218.259 235.938 239.682"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"
								stroke-dasharray="4.15 4.15"></path>
							<path
								d="M234.518 241.148C234.047 241.617 233.558 242.076 233.078 242.535"
								stroke="black"
								stroke-width="0.82"
								stroke-miterlimit="10"
								stroke-linecap="round"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M212.092 243.772V256.478C210.049 257.57 207.929 258.497 205.749 259.251V243.772H212.092Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M220.872 223.984C219.375 228.831 210.058 227.974 208.925 231.554C206.526 239.164 205.192 235.813 195.961 236.78C190.683 237.339 186.854 240.859 184.542 243.762H166.185L168.104 242.345L180.195 234.247L204.444 232.541C205.749 226.916 209.299 226.737 214.712 226.148C217.859 225.809 218.166 220.284 217.207 212.973C216.357 207.136 215.21 201.35 213.771 195.639C212.773 191.534 212.011 187.371 211.487 183.172C210.934 178.713 210.643 174.224 210.614 169.728C214.174 189.196 221.976 220.394 220.872 223.984Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.15">
							<path
								d="M234.308 191.201C234.308 190.613 234.308 190.034 234.308 189.456C234.087 158.857 227.792 141.982 220.038 137.174C223.127 135.337 226.476 134.018 229.961 133.265C228.675 135.19 227.341 138.072 227.974 141.144C229.097 146.589 241.783 167.534 236.937 201.095C233.434 225.311 234.595 237.907 238.252 243.772H212.093C212.093 243.772 234.308 236.98 234.308 191.201Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M74.1112 166.267C74.1058 167.273 74.0029 168.275 73.8041 169.259H64.803C60.7616 166.549 57.4574 162.806 55.207 158.388C57.6156 161.111 61.7323 164.432 65.9258 165.449C69.6202 166.287 72.3455 165.908 74.1112 166.267Z"
								fill="black"></path>
						</g>
						<path
							d="M95.0306 129.086C94.071 132.886 89.417 140.246 85.2043 148.135C80.5982 156.732 76.4912 165.948 78.0937 171.803C78.4266 172.878 78.6234 173.995 78.679 175.124C78.679 177.677 76.8366 176.879 74.9558 175.443C73.5902 174.331 72.3071 173.114 71.1174 171.803L71.2613 160.463C71.2613 160.463 65.0719 154.548 70.1482 141.623C70.4745 140.805 70.8391 139.957 71.2613 139.069C78.2568 124.378 88.7549 108.959 78.8134 104.591C92.5165 103.713 97.1322 121.147 95.0306 129.086Z"
							fill="#20C3C5"></path>
						<g style="mix-blend-mode:overlay" opacity="0.53">
							<path
								d="M78.7932 104.591C81.375 105.238 83.6104 106.91 85.021 109.248C85.3836 109.818 85.7043 110.414 85.9806 111.034C86.246 111.66 86.4735 112.303 86.6619 112.959C86.8597 113.611 87.0104 114.278 87.1129 114.953L87.2857 115.951L87.3528 116.948C87.1762 119.689 86.5768 122.383 85.5776 124.927C84.618 127.49 83.6008 129.983 82.5165 132.457C80.3286 137.444 77.968 142.271 75.8952 147.258C74.8351 149.732 73.9186 152.269 73.1508 154.857C72.7755 156.138 72.5027 157.449 72.3351 158.777C72.131 160.063 72.2164 161.381 72.5846 162.627C72.6159 162.729 72.6085 162.839 72.5639 162.936C72.5193 163.032 72.4408 163.107 72.3447 163.146C72.2454 163.181 72.1366 163.175 72.0416 163.128C71.9467 163.082 71.8729 162.998 71.8361 162.896C71.444 161.528 71.3587 160.085 71.5866 158.677C71.7816 157.309 72.08 155.958 72.479 154.638C73.2916 152.034 74.2529 149.483 75.3578 146.998C77.4977 142.012 79.9159 137.194 82.1614 132.277C83.2745 129.824 84.3589 127.34 85.2993 124.807C86.3173 122.311 86.9426 119.661 87.1513 116.958L87.1033 115.961L86.9498 114.963C86.8496 114.289 86.7053 113.623 86.518 112.969C86.3367 112.319 86.1221 111.68 85.8751 111.054C85.5935 110.437 85.273 109.841 84.9155 109.268C83.5319 106.946 81.3383 105.27 78.7932 104.591Z"
								fill="black"></path>
						</g>
						<path
							d="M88.735 152.015C84.5415 163.514 88.735 172.231 82.4304 173.468C79.5516 174.046 78.2754 171.822 77.7476 169.239C77.3785 167.06 77.3075 164.837 77.5365 162.637C78.3717 160.612 79.4905 158.726 80.8567 157.042C82.8183 154.439 85.6141 152.655 88.735 152.015Z"
							fill="#169799"></path>
						<path
							d="M74.1104 166.267C74.1104 168.94 73.5059 171.254 72.3064 172.401C72.1985 172.515 72.0831 172.622 71.9609 172.72C68.9862 175.223 67.0862 170.635 67.0862 170.635C67.0862 170.635 59.1694 166.576 55.2447 158.348C52.2315 152.015 51.5694 143.218 58.6417 131.908C59.678 139.957 63.9291 145.442 68.1417 150.658C68.6599 151.317 69.1781 151.955 69.6963 152.593C72.5746 156.523 74.1261 161.329 74.1104 166.267Z"
							fill="#B8E3E2"></path>
						<g style="mix-blend-mode:overlay" opacity="0.53">
							<path
								d="M58.6416 131.908C57.9598 135.375 57.7787 138.928 58.1042 142.45C58.3807 145.981 59.4453 149.396 61.2133 152.424C62.979 155.416 65.4164 157.909 67.633 160.622C68.7762 161.967 69.7441 163.463 70.5118 165.07C71.2742 166.738 71.605 168.584 71.4714 170.426C71.4617 170.533 71.412 170.631 71.333 170.7C71.254 170.769 71.1521 170.803 71.0492 170.795C70.997 170.793 70.9459 170.779 70.8989 170.755C70.8519 170.732 70.8101 170.698 70.7759 170.657C70.7418 170.616 70.7161 170.568 70.7004 170.517C70.6847 170.465 70.6793 170.41 70.6846 170.356C70.8453 168.65 70.5706 166.93 69.8881 165.369C69.1738 163.795 68.2569 162.329 67.1628 161.011C65.0229 158.298 62.5951 155.735 60.8582 152.633C59.1266 149.544 58.1113 146.078 57.8931 142.51C57.633 138.957 57.8853 135.384 58.6416 131.908Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M88.7344 152.015C87.5349 153.461 86.4121 155.007 85.347 156.533C84.2818 158.059 83.2646 159.734 82.353 161.33C80.4488 164.559 79.1467 168.132 78.5146 171.862C78.498 171.97 78.4416 172.067 78.3574 172.132C78.2731 172.197 78.1677 172.226 78.0636 172.211C78.0129 172.204 77.9642 172.186 77.9202 172.159C77.8763 172.132 77.838 172.096 77.8076 172.053C77.7772 172.011 77.7553 171.962 77.7433 171.91C77.7312 171.859 77.7292 171.805 77.7373 171.753C78.5164 167.961 79.9783 164.357 82.0459 161.131C83.0055 159.505 84.0995 157.939 85.2126 156.423C86.3258 154.907 87.4773 153.421 88.7344 152.015Z"
								fill="black"></path>
						</g>
						<path
							d="M86.1442 172.092L83.4573 189.236C83.3962 189.586 83.2183 189.902 82.9549 190.128C82.6915 190.354 82.3596 190.476 82.0179 190.473H65.3209C64.9785 190.475 64.6463 190.352 64.3817 190.126C64.1171 189.901 63.9368 189.586 63.8719 189.236L61.6936 175.273L61.185 172.052C61.1472 171.831 61.1563 171.605 61.2116 171.388C61.2669 171.172 61.3671 170.971 61.5051 170.799C61.6432 170.627 61.8158 170.488 62.0108 170.393C62.2058 170.297 62.4185 170.248 62.634 170.247H84.7048C84.9246 170.244 85.142 170.293 85.3409 170.391C85.5398 170.488 85.715 170.63 85.8534 170.808C85.9918 170.985 86.0899 171.193 86.1402 171.415C86.1906 171.638 86.1919 171.869 86.1442 172.092Z"
							fill="#B8E3E2"></path>
						<path
							d="M88.7357 175.582H58.6426L59.439 170.915C59.5211 170.445 59.7571 170.02 60.107 169.711C60.4569 169.401 60.8991 169.228 61.3583 169.219H85.972C86.4317 169.226 86.8748 169.399 87.2251 169.708C87.5754 170.018 87.8109 170.444 87.8912 170.915L88.7357 175.582Z"
							fill="#86BFBC"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M77.5087 162.637C77.2798 164.83 77.3508 167.046 77.7199 169.219H73.7759C73.9747 168.235 74.0776 167.233 74.083 166.227C74.0986 161.289 72.5471 156.483 69.6688 152.553C69.1506 151.915 68.6324 151.277 68.1143 150.619C68.2411 147.506 68.9142 144.444 70.1006 141.583C70.3309 145.702 71.3097 152.873 75.2633 153.631C78.2764 154.199 82.1916 151.097 85.176 148.095C83.6022 151.037 82.086 154.079 80.829 157.002C79.4596 158.699 78.3406 160.598 77.5087 162.637Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M75.3098 190.473H65.3204C64.978 190.475 64.6458 190.352 64.3812 190.126C64.1166 189.901 63.9362 189.586 63.8714 189.236L61.7314 175.583H70.3679C70.0034 178.324 70.065 181.109 70.5502 183.831C71.3443 186.553 73.0276 188.902 75.3098 190.473Z"
								fill="black"></path>
						</g>
						<g class="anime3 hover" style="--i:3">
							<path
								d="M129.172 4H86.3737C84.2591 4 82.5449 5.78166 82.5449 7.97944V41.0617C82.5449 43.2595 84.2591 45.0411 86.3737 45.0411H129.172C131.287 45.0411 133.001 43.2595 133.001 41.0617V7.97944C133.001 5.78166 131.287 4 129.172 4Z"
								fill="#4CBB17"></path>
							<path
								d="M98.5449 15L100.123 32.834L107.545 35L115.013 32.835L116.545 15H98.5449ZM111.845 29.722L107.552 30.926H107.545L103.248 29.722L102.951 26.555H105.059L105.209 28.081L107.544 28.72L109.884 28.08L110.129 25.03H102.859L102.672 23.024H110.312L110.486 21.018H102.469L102.293 19.012H112.799L111.845 29.722Z"
								fill="white"></path>
						</g>
						<g class="anime4 hover" style="--i:4">
							<path
								d="M284.172 0H241.374C239.259 0 237.545 1.78166 237.545 3.97944V37.0617C237.545 39.2595 239.259 41.0411 241.374 41.0411H284.172C286.287 41.0411 288.001 39.2595 288.001 37.0617V3.97944C288.001 1.78166 286.287 0 284.172 0Z"
								fill="#7702FF"></path>
							<path
								d="M273.867 14.8046L273.928 14.764C273.806 14.5405 273.623 14.3374 273.441 14.2358L263.63 8.58896C263.467 8.4874 263.244 8.44678 263 8.44678C262.756 8.44678 262.533 8.50771 262.37 8.58896L252.62 14.2562C252.275 14.4593 252.031 14.9671 252.031 15.353V26.6671C252.031 26.8905 252.072 27.1343 252.214 27.3577L252.173 27.378C252.275 27.5405 252.417 27.6827 252.559 27.764L262.35 33.4312C262.512 33.5327 262.736 33.5733 262.98 33.5733C263.223 33.5733 263.447 33.5124 263.609 33.4312L273.359 27.764C273.705 27.5608 273.948 27.053 273.948 26.6671V15.3327C273.969 15.1702 273.948 14.9874 273.867 14.8046ZM263 25.9765C264.848 25.9765 266.473 24.9608 267.327 23.4577L269.947 25.0015C268.566 27.3983 265.966 29.0233 263 29.0233C258.572 29.0233 254.977 25.428 254.977 20.9999C254.977 16.5718 258.572 12.9765 263 12.9765C265.986 12.9765 268.586 14.6218 269.967 17.039L267.327 18.5624C266.473 17.039 264.848 16.0233 263 16.0233C260.258 16.0233 258.023 18.2577 258.023 20.9999C258.023 23.7421 260.258 25.9765 263 25.9765Z"
								fill="white"></path>
						</g>
						<path
							d="M289.522 226.208C287.388 232.588 284.737 238.767 281.596 244.679C271.664 263.539 260.12 275.547 259.688 293.131C257.528 281.442 257.291 269.456 258.988 257.685C260.6 247.073 264.237 235.743 271.693 226.208C292.44 199.699 289.369 175.583 289.369 175.583C289.369 175.583 299.761 195.36 289.522 226.208Z"
							fill="#169799"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M265.081 272.496C264.831 270.342 264.831 268.166 265.081 266.013C265.289 263.872 265.658 261.751 266.184 259.67C267.242 255.529 268.722 251.517 270.598 247.701C271.5 245.776 272.565 243.941 273.611 242.096L276.951 236.74C279.073 233.12 280.89 229.316 282.382 225.371C283.888 221.429 285.169 217.4 286.221 213.303C287.302 209.2 288.194 205.054 288.898 200.866C289.612 196.678 290.102 192.453 290.366 188.209C290.504 186.088 290.536 183.961 290.462 181.836C290.424 180.774 290.328 179.715 290.174 178.664C290.056 177.605 289.777 176.572 289.349 175.603C289.792 176.566 290.087 177.596 290.222 178.654C290.396 179.704 290.508 180.763 290.558 181.826C290.664 183.956 290.664 186.089 290.558 188.219C290.36 192.478 289.921 196.72 289.243 200.925C288.581 205.134 287.737 209.313 286.681 213.432C285.658 217.546 284.409 221.595 282.939 225.56C281.466 229.558 279.668 233.418 277.565 237.099L274.226 242.515C273.199 244.34 272.143 246.155 271.27 248.06C269.425 251.83 267.977 255.796 266.952 259.889C266.44 261.929 266.074 264.006 265.858 266.102C265.618 268.176 265.618 270.272 265.858 272.346C265.872 272.453 265.844 272.561 265.781 272.647C265.718 272.733 265.625 272.79 265.522 272.805C265.425 272.82 265.325 272.797 265.243 272.739C265.162 272.682 265.104 272.595 265.081 272.496Z"
								fill="black"></path>
						</g>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M281.596 244.679C271.664 263.539 260.12 275.547 259.688 293.131C257.528 281.442 257.291 269.456 258.988 257.685C265.427 254.952 274.485 250.494 281.596 244.679Z"
								fill="black"></path>
						</g>
						<path
							d="M265.457 311.761C265.457 311.761 258.202 298.866 275.369 282.958C292.537 267.05 305.981 246.006 303.361 228.981C286.942 248.808 243.271 276.934 255.582 311.761H265.457Z"
							fill="#20C3C5"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M303.359 228.981C301.661 232.715 299.583 236.249 297.16 239.523C294.762 242.808 292.152 245.92 289.349 248.838C286.526 251.741 283.564 254.494 280.473 257.086C277.462 259.757 274.72 262.737 272.288 265.983C267.375 272.442 263.653 279.79 261.31 287.655C260.14 291.567 259.469 295.621 259.314 299.713C259.096 303.801 259.752 307.888 261.233 311.682C261.27 311.78 261.27 311.889 261.231 311.987C261.192 312.085 261.119 312.163 261.025 312.206C260.932 312.249 260.827 312.252 260.732 312.216C260.636 312.179 260.558 312.106 260.513 312.011C259.01 308.119 258.355 303.93 258.594 299.743C258.809 295.569 259.547 291.441 260.792 287.466C263.221 279.56 267.03 272.186 272.028 265.714C274.499 262.473 277.28 259.502 280.329 256.847C283.436 254.288 286.415 251.565 289.253 248.689C292.08 245.801 294.712 242.716 297.132 239.453C299.559 236.202 301.647 232.692 303.359 228.981Z"
								fill="black"></path>
						</g>
						<path
							d="M19.0299 218.359C19.0299 218.359 10.0672 209.872 5.30762 188.658C32.7426 212.834 39.4598 234.357 39.4598 234.357L19.0299 218.359Z"
							fill="#169799"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M5.30762 188.658C9.14602 194.33 12.8725 200.071 16.487 205.882C18.3102 208.788 20.0855 211.72 21.8127 214.679C23.5811 217.635 25.1831 220.696 26.6108 223.845C26.6322 223.894 26.6441 223.947 26.6458 224.001C26.6475 224.055 26.639 224.108 26.6207 224.159C26.6024 224.209 26.5748 224.255 26.5393 224.295C26.5039 224.334 26.4613 224.366 26.414 224.388C26.3668 224.41 26.3158 224.423 26.2639 224.425C26.2121 224.426 26.1604 224.418 26.1118 224.399C26.0632 224.38 26.0188 224.351 25.9809 224.314C25.943 224.277 25.9125 224.233 25.8911 224.184C24.53 221.039 23.0019 217.976 21.3138 215.008C19.6441 212.016 17.9296 209.051 16.1703 206.112C12.6454 200.227 9.02447 194.409 5.30762 188.658Z"
								fill="black"></path>
						</g>
						<path
							d="M38.9033 230.287C33.9709 225.67 26.6684 221.082 19.7112 216.155C10.4703 209.602 1.85308 202.401 0.260138 193.645C-3.36715 225.38 32.1381 239.662 32.1381 239.662L32.2149 239.772L45.1119 259.32C45.1119 259.32 50.3801 241.049 38.9033 230.287Z"
							fill="#20C3C5"></path>
						<g style="mix-blend-mode:overlay" opacity="0.25">
							<path
								d="M0.260254 193.645C0.366521 197.182 1.20092 200.654 2.70724 203.828C4.21087 206.986 6.2157 209.859 8.63757 212.325C11.1032 214.739 13.7974 216.888 16.679 218.738C19.5578 220.663 22.4366 222.518 25.2099 224.513C30.8139 228.502 36.1781 233.08 39.9301 239.074C43.6604 245.108 45.5994 252.149 45.5054 259.32C45.5054 259.429 45.464 259.533 45.3902 259.609C45.3164 259.686 45.2163 259.729 45.112 259.729C45.0077 259.729 44.9076 259.686 44.8338 259.609C44.76 259.533 44.7186 259.429 44.7186 259.32C44.8758 252.278 43.0407 245.342 39.4408 239.373C35.8039 233.449 30.5357 228.811 24.9892 224.822C22.2063 222.827 19.3371 220.922 16.5159 218.967C13.637 217.081 10.952 214.891 8.50322 212.435C6.10637 209.925 4.13104 207.016 2.65926 203.828C1.16926 200.65 0.351254 197.178 0.260254 193.645Z"
								fill="black"></path>
						</g>
						<path
							d="M291.701 325.914H53.1345C51.3275 325.914 49.5945 325.168 48.3168 323.84C47.0391 322.512 46.3213 320.71 46.3213 318.832C46.3213 317.902 46.4975 316.982 46.8399 316.123C47.1823 315.263 47.6842 314.483 48.3168 313.825C48.9495 313.168 49.7006 312.646 50.5272 312.29C51.3538 311.934 52.2397 311.751 53.1345 311.751H291.701C292.596 311.751 293.482 311.934 294.308 312.29C295.135 312.646 295.886 313.168 296.518 313.825C297.151 314.483 297.653 315.263 297.995 316.123C298.338 316.982 298.514 317.902 298.514 318.832C298.514 320.71 297.796 322.512 296.518 323.84C295.241 325.168 293.508 325.914 291.701 325.914Z"
							fill="#EAF9F8"></path>
					</svg>
				</div>
			</section>
		</div>

		<!-- course selection section -->
		<section class="bg-[#FAFCFD] px-4 py-16 dark:bg-background">
			<div class="container mx-auto">
				<h2 class="mb-8 text-3xl font-bold">যেইটা শিখতে চান সিলেক্ট করুন</h2>

				<div class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
					<Card className=" hover:cursor-pointer ">
						<CardContent className="flex items-center  gap-3 p-0 px-6 py-4">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<p>এইচটিএমএল (HTML)</p>
						</CardContent>
					</Card>
					<Card className="">
						<CardContent className="flex items-center  gap-3 p-0 px-6 py-4">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<p>এইচটিএমএল (HTML)</p>
						</CardContent>
					</Card>
					<Card className="">
						<CardContent className="flex items-center  gap-3 p-0 px-6 py-4">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<p>এইচটিএমএল (HTML)</p>
						</CardContent>
					</Card>
					<Card className="">
						<CardContent className="flex items-center  gap-3 p-0 px-6 py-4">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<p>এইচটিএমএল (HTML)</p>
						</CardContent>
					</Card>
					<Card className="">
						<CardContent className="flex items-center  gap-3 p-0 px-6 py-4">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<p>এইচটিএমএল (HTML)</p>
						</CardContent>
					</Card>
				</div>
			</div>
		</section>

		<!-- why us section -->
		<section class="bg-[#FAFCFD] px-4 pb-16 dark:bg-background">
			<div class="container mx-auto">
				<h2 class="mb-8 text-3xl font-bold">কেন আমাদের থেকে শিখবেন</h2>

				<div class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
					<Card className=" hover:cursor-pointer ">
						<CardContent className="flex flex-col items-center gap-3  p-0 px-6 py-4 text-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<h3 class="text-2xl font-bold">মাতৃভাষায় শেখা</h3>

							<p>
								আমাদের সম্পূর্ণ কোর্স বাংলায় উপলব্ধ, যা শেখার প্রক্রিয়াটি সহজ এবং সুলভ করে তোলে।
							</p>
						</CardContent>
					</Card>
					<Card className=" hover:cursor-pointer ">
						<CardContent className="flex flex-col items-center gap-3  p-0 px-6 py-4 text-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<h3 class="text-2xl font-bold">সম্পূর্ণ বিনামূল্যে</h3>

							<p>আমাদের সম্পূর্ণ কোর্স মুলত বিনামূল্যে প্রশিক্ষণ নিতে পারবেন</p>
						</CardContent>
					</Card>
					<Card className=" hover:cursor-pointer ">
						<CardContent className="flex flex-col items-center gap-3  p-0 px-6 py-4 text-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<h3 class="text-2xl font-bold">স্বাধীনতা</h3>

							<p>আমাদের প্লাটফর্মে আপনি নিজের সময় পরিচালনা করতে পারেন</p>
						</CardContent>
					</Card>
					<Card className=" hover:cursor-pointer ">
						<CardContent className="flex flex-col items-center gap-3  p-0 px-6 py-4 text-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#0F2404"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-braces"
								><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"
								></path><path
									d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"
								></path></svg
							>
							<h3 class="text-2xl font-bold">মাতৃভাষায় শেখা</h3>

							<p>
								আমাদের সম্পূর্ণ কোর্স বাংলায় উপলব্ধ, যা শেখার প্রক্রিয়াটি সহজ এবং সুলভ করে তোলে।
							</p>
						</CardContent>
					</Card>
				</div>
			</div>
		</section>
		<!-- cta section -->

		<section class="bg-white px-4 py-12 dark:bg-background">
			<div class="container mx-auto py-6">
				<Card className=" py-12 hover:cursor-pointer ">
					<CardContent className="flex flex-col items-center gap-3  p-0 px-6 py-4 text-center">
						<h2 class="text-3xl font-bold">সঠিক প্রোগ্রামটি বেছে নিন</h2>
						<p class="mx-auto max-w-72">
							সফল ক্যারিয়ার গড়তে দরকার সঠিক জায়গায় নিজের সময় আর পরিশ্রম দেয়া।
						</p>
						<Button>ক্যারিয়ার কনসাল্টেন্সি নিতে যোগাযোগ করুন </Button>
					</CardContent>
				</Card>
			</div>
		</section>
		<!-- faqs -->
		<section class="bg-[#FAFCFD] px-4 py-12 dark:bg-background">
			<div class="container mx-auto py-6">
				<h2 class="mb-8 text-3xl font-bold">আপনাদের যত জিজ্ঞাসা</h2>
				<AccordionComp client:load />
			</div>
		</section>
		<!-- footer -->

		<footer class="bg-[#071202] text-white dark:bg-background">
			<div class="container grid grid-cols-5 border-b py-12">
				<div class="col-span-2">
					<span>ডেভবাংলা</span>
					<p>আমাদের নিউজ লেটার্স এ সাবস্ক্রাইব করুন</p>
					<div class="flex w-full max-w-sm items-center space-x-2">
						<Input type="email" placeholder="Email" />
						<Button type="submit" variant="default">Subscribe</Button>
					</div>
				</div>

				<!-- tutorials -->
				<div>
					<h3 class="mb-3 text-lg font-semibold">টিউটোরিয়াল</h3>
					<ul class="text-green-100">
						<li class="mb-1">
							<a href="#" class="text-sm">জাভাস্ক্রিপ্ট টিউটোরিয়াল</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">পাইথন ৩ টিউটোরিয়াল</a>
						</li>

						<li class="mb-1">
							<a href="#" class="text-sm">এইচটিএমএল টিউটোরিয়াল</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">সি টিউটোরিয়াল</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">সি++ টিউটোরিয়াল</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">ডিএসএ টিউটোরিয়াল</a>
						</li>
					</ul>
				</div>
				<!-- exemples -->
				<div>
					<h3 class="mb-3 text-lg font-semibold">উদাহরণ</h3>
					<ul class="text-green-100">
						<li class="mb-1">
							<a href="#" class="text-sm" class="text-sm">জাভাস্ক্রিপ্ট উদাহরণ</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm" class="text-sm">পাইথন উদাহরণ</a>
						</li>

						<li class="mb-1">
							<a href="#" class="text-sm" class="text-sm">এইচটিএমএল উদাহরণ</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm" class="text-sm">সি উদাহরণ</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm" class="text-sm">সি++ উদাহরণ</a>
						</li>
					</ul>
				</div>
				<!-- company -->

				<div>
					<h3 class="mb-3 text-lg font-semibold">কোম্পানি</h3>
					<ul class="text-green-100">
						<li class="mb-1">
							<a href="#" class="text-sm">আমাদের সম্পর্কে </a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">গোপনীয়তা নীতি</a>
						</li>

						<li class="mb-1">
							<a href="#" class="text-sm">শর্তাবলী</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">যোগাযোগ</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">ব্লগ</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">ক্যারিয়ার</a>
						</li>
						<li class="mb-1">
							<a href="#" class="text-sm">ইউটিউব</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container py-4">
				<p>© ডেভবাংলা . All rights reserved.</p>
			</div>
		</footer>
	</main>
</Layout>

<script></script>
