---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-7xl mx-auto min-h-screen">
    <div>
      <h1 class="text-4xl font-bold">hello there</h1>
      <div class="bg-primary text-primary-foreground">Hello</div>
      <div class="bg-warning text-warning-foreground">Hello</div>
    </div>
  </main>
</Layout>
