---
import Prose from '@/components/Prose.astro'
import Layout from '../../layouts/Layout.astro'
import { htmlCourse } from '@/utils/menuitems'
import { getCollection } from 'astro:content'
import OnThisPage from '@/components/OnThisPage.astro'
export async function getStaticPaths() {
	const tutorials = await getCollection('tutorials')

	return tutorials.map((entry) => ({
		params: { course: entry.slug },
		props: { entry }
	}))
}

const { entry } = Astro.props

const { Content, headings } = await entry.render()
console.log(headings)
---

<Layout title="ডেভবাংলা">
	<div class="mxw">
		<!-- left panel -->
		<div class="sidbar__container bg-[#f9f9f9]">
			<div
				class="sidebar scrollbar auto scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 scrollbar-track:!rounded dark:scrollbar-track:!bg-slate-500/[0.16] dark:scrollbar-thumb:!bg-slate-500/50 lg:supports-scrollbars:pr-2 fixed inset-0 hidden h-screen overflow-y-auto border-e-[1px] px-4 sm:block"
			>
				<h2 class="py-3 ps-3 text-xl font-bold">এইচটিএমএল (HTML)</h2>
				<ul class="outer-list p-1">
					{
						htmlCourse.map((section) => (
							<li class=" mb-3">
								<details open>
									<summary class="flex items-center justify-between pe-0.5 ps-0.5">
										<div class="group-label">
											<span class=" line-clamp-1 text-sm font-semibold">{section.title}</span>
										</div>
										<svg
											aria-hidden="true"
											class="caret astro-3zixussu"
											width="16"
											height="16"
											viewBox="0 0 24 24"
											fill="currentColor"
										>
											<path d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z" />
										</svg>
									</summary>
									<ul class="">
										{section.data.map((item) => (
											<li class="border-s">
												<a href={item.slug} class=" text-sm">
													<span class="">{item.text}</span>
												</a>
											</li>
										))}
									</ul>
								</details>
							</li>
						))
					}
				</ul>
			</div>
		</div>

		<!-- main section -->
		<div class="main__section flex">
			<!-- content section -->
			<main class="content__sec border-e">
				<div class="border-b py-8">
					<h2 class="content__main content__title text-2xl font-semibold capitalize lg:text-4xl">
						Main
					</h2>
				</div>

				<div class="content__main sl-container pt-6">
					<Prose>
						<Content />
					</Prose>
				</div>
			</main>

			<!-- right panel -->
			<aside class="aside layout--right">
				<div class="aside__content p-4">
					<h3 class="my-4 text-xl font-semibold">On this page</h3>

					<OnThisPage client:load headings={headings} />
				</div>
			</aside>

			<!-- <aside class="right__secetion fixed top-[70px] border-b">
				<div class="flex h-12 items-center gap-3 px-5 py-3">
					<div class="flex items-center gap-2 text-xs">
						On this page
						<svg
							aria-hidden="true"
							class="caret astro-yitqccco astro-qbjwflwa"
							width="16"
							height="16"
							viewBox="0 0 24 24"
							fill="currentColor"
							><path
								d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z"
							></path></svg
						>
					</div>
					<span class="text-xs"> Overview </span>
				</div>
			</aside> -->
		</div>
	</div>
</Layout>
