---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { menuItems } from '@/utils/menuitems'
const tutorials = await getCollection('tutorials')
const html = await tutorials.filter((tuts) => tuts.slug.includes('html'))
console.log(html.length)
---

<Layout title="ডেভবাংলা">
	<div class="mxw pt-24">
		<ul>
			{
				tutorials.map((tuts) => (
					<li>
						<a href=`${tuts.slug}`>{tuts.slug}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
