---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
const tutorials = await getCollection('tutorials')
// const html = await tutorials.filter((tuts) => tuts.slug.includes('html'))
const html = await getCollection('tutorials', ({ data }) => {
  return data.category == 'HTML'
});
console.log(html.length)
---

<Layout title="ডেভবাংলা">
	<div class="mxw pt-24">
		<ul>
			{
				html.map((tuts) => (
					<li>
						<a href=`${tuts.slug}`>{tuts.slug}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
